.card{
    width:240px;
    height:100px;
    background-color:gray;
    margin: 50px;
}

#container{
    display:grid;
    width: 100wh;
    padding: 15px;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
}


   
