/* Here we've use the grid-template-areas, because the overall layout is static! Everything inside though, that's a different story
 */
 #chat{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 15fr 1fr;
  grid-template-areas: 
  "f c"
  "f i";
}

#friends{
  grid-area: f;
  display: grid;
}

#chatbox{
  grid-area: c;
  display: grid;
}

#input{
  grid-area: i;
  display: grid;
}