#container{
  grid-template-areas: 
  "h h f f s s""h h f f s s""h h . . s s""h h m m s s""h h m m s s";
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}
.head{
  grid-area: h;
  background-color: orange;
}

.side-nav{
  grid-area: s;
  background-color: red;
}

.main{
  grid-area: m;
  background-color: green;
}

.foot{
  grid-area: f;
  background-color: gray;
}