#search-container{
  display:grid;
  background-color: yellow;
}

#results-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.result{
  display: grid;
  height: 100px;
  background-color: #16a085;
  text-align: center;
  align-content: center;
  border-radius: 4px;
}