#container{
  grid-template-areas: 
  "s m m m""s m m m""s m m m""s f f h";
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
}
.head{
  display:grid;
  grid-area: h;
  background-color: purple;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  align-content: center;
  border-radius: 4px;
  color:white;
}

.side-nav{
  display:grid;
  grid-area: s;
  background-color: purple;
}

.main{
  grid-area: m;
  background-color: gray;
}

.foot{
  grid-area: f;
  background-color: white;
}

.person{
  background-color: lightskyblue;
  margin:50px;
}

.title{
  align-content: center;
}