#parent {
    display: inline-block;
    background-color: blue;
    width: 300px;
    height: 300px;
  }
  
.child {
    background-color: red;
}
  
#child-1{
    width:300px;
    height:20px;
    position: absolute;
    top:50px;
}

#child-2{
    height:300px;
    width:20px;
    position: absolute;
    left:50px;
}