#all{
    width: 500px;
    height: 300px;
    background-color: mediumpurple;
    position: relative;
}

.rectangle{
    background-color: lightgray;
    width: 30px;
}

#rectangle1{
    height: 50px;
    position: absolute;
    bottom: 10px;
    left:5px;
}

#rectangle2{
    height:100px;
    position: absolute;
    bottom: 10px;
    left:45px;
}

#rectangle3{
    height:150px;
    position: absolute;
    bottom: 10px;
    left:85px;
}

#rectangle4{
    height:138px;
    position: absolute;
    bottom: 10px;
    left:125px;
}

#rectangle5{
    height:129px;
    position: absolute;
    bottom: 10px;
    left: 165px;
}

#rectangle6{
    height:120px;
    position: absolute;
    bottom: 10px;
    left: 205px;
}

#money{
    position: absolute;
    left: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#time{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right:10px;
    bottom: 10px;
}


